@font-face {
    font-family: 'Montserrat';
    src: url('../src/fonts/Montserrat/Montserrat-Medium.woff') format('woff2'),
        url('../src/fonts/Montserrat/Montserrat-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../src/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../src/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../src/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../src/fonts/Montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../src/fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('../src/fonts/Montserrat/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../src/fonts/Source_Serif_Pro/SourceSerifPro-Regular.woff') format('woff2'),
        url('../src/fonts/Source_Serif_Pro/SourceSerifPro-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../src/fonts/Source_Serif_Pro/SourceSerifPro-Bold.woff2') format('woff2'),
        url('../src/fonts/Source_Serif_Pro/SourceSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}