body, html {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--main-color);
    overflow-x: hidden;
}

body.lock {
    height: 100vh;
    overflow-y: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3 {
    font-family: var(--title-font);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
}

h1 {
    font-size: 42px;
    line-height: 56px;
}

h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 42px;
}

h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
}

main {
    margin-top: 110px;
}

/* main wrapper container ===================*/
.container {
    max-width: 1480px;
    padding: 0 80px;
    margin: 0 auto;
}

.description {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
}

/* Borders ============*/
.bordered {
    border: 1.5px solid var(--main-color);
}

.bordered+.bordered {
    border-left: none;
}

.title-bordered {
    padding-bottom: 24px;
    border-bottom: 2px solid var(--main-color);
}

.after-element {
    position: relative;
}

.after-element::after {
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    z-index: -1;
}

/* Social media ===============*/
.social-media {
    display: flex;
    align-items: center;
}

.social-media a+a {
    margin-left: 24px;
    cursor: pointer;
}

.social-media a{
    background-color: var(--red);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Social media square ==================*/
.social-media-square {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 288px;
    left: 0;
}

.social-icons-square {
    width: 40px;
    height: 40px;
    margin-bottom: 22px;
    background-color:  var(--bg-color);
    border-bottom: 2px solid #BDBDBD;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.social-icons-square svg path {
    transition: all 0.3s ease;
}

.social-icons-square:hover {
    border-color: var(--main-color);
}

.social-icons-square:hover svg path {
    fill: var(--main-color)
}

/* See all btn ================*/
.see-all {
    display: flex;
    width: 360px;
}

.see-all .text {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding-left: 24px;
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.plus {
    display: inline-flex;
    align-items: center;
    padding: 14px 14.75px;
}

/* Where to buy button */
.where-buy-btn {
    display: flex;
    width: 100%;
    max-width: 552px;
    position: relative;
    z-index: 2;
}

.where-buy-btn .shop {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 64px;
    background-color:  #E0E0E0;
}

.where-buy-btn .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 0 24px;
    font-family: var(--title-font);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    background-color: var(--bg-color);
    background-image: url("../src/img/btn-bg.png");
    background-size: cover;
    mix-blend-mode: darken;

}


/* For sliders ===============*/
.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}


/* .Product container small */
.container-wrapper {
    margin: 0 auto;
    max-width: 936px;
    display: flex;
}

.product-container-sm-wrapper::after {
    width: 1744px;
    height: 188px;
    top: -1px;
    left: 0;
}

.product-container-sm {
    margin: 96px auto 0;
    width: 100%;
    max-width: 936px;
}

.product-sm-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-sm-block {
    max-width: 360px;
}

.product-sm-block+.product-sm-block {
    margin-left: 24px;
}

.product-sm-title {
    margin-top: 15px;
}

.product-sm-btn {
    margin-top: 64px;
}

.product-sm-btn .see-all {
    margin: 0 auto;
}


/* Media Queries */
@media (min-width: 1950px) {
    .product-container-sm-wrapper::after {
        width: 90%;
    }
}

@media (max-width: 1550px) {
    .padding {
        padding: 0 0 0 88px;
    }
}

@media (max-width: 1350px) {
    .where-buy-btn {
        max-width: 504px;
    }

    .container-wrapper {
        max-width: 880px;
        justify-content: flex-start;
    }

    .product-container-sm-wrapper::after {
        height: 235px;
    }

    .product-container-sm {
        max-width: 877px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 144px;
    }

    .product-sm-btn {
        margin-top: 56px;
    }
}

@media (max-width: 992px) {
    main {
        margin-top: 80px;
    }

    .padding {
        padding: 0;
    }

    .social-media-square {
        position: relative;
        left: initial;
        top: initial;
        flex-direction: row;
        justify-content: center;
    }

    .social-media-square::after {
        position: absolute;
        content: "share it";
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        font-family: var(--title-font);
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        text-transform: uppercase;
        color: #BDBDBD;
    }

    .social-icons-square {
        margin-bottom: 0;
        border-color: var(--main-color);
    }

    .social-icons-square+.social-icons-square {
        margin-left: 32px;
    }
    
    .social-icons-square svg path {
        fill: var(--main-color)
    }

    .where-buy-btn {
        max-width: 552px;
    }

    .container-wrapper {
        margin: 0 auto;
        justify-content: center;
    }

    .product-container-sm-wrapper::after {
        height: 145px;
    }

    .product-container-sm {
        max-width: 648px;
        margin-top: 64px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 64px;
    }

    .title-bordered {
        padding-bottom: 18px;
    }

    h1 {
        font-size: 30px;
        line-height: 42px;
    }

    h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .product-sm-btn {
        margin-top: 21px;
    }

}

@media (max-width: 600px) {
    h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .description {
        font-size: 14px;
        line-height: 24px;
    }

    .where-buy-btn {
        max-width: 100%;
    }

    .where-buy-btn .text {
        font-size: 16px;
    }

    .social-media-square::after {
        top: -32px;
    }

    .product-container-sm-wrapper::after {
        height: 188px;
    }

    .product-container-sm {
        margin-top: 72px;
    }

    .product-sm-wrapper {
        flex-direction: column;
    }

    .product-sm-block+.product-sm-block {
        margin-left: 0;
        margin-top: 32px;
    }

    .product-sm-block {
        max-width: 100%;
    }

    .product-sm-title {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .see-all {
        width: 100%;
    }

    .where-buy-btn {
        width: 100%;
    }

    .where-buy-btn .shop {
        width: 48px;
        height: 48px;
    }

    .see-all span {
        font-size: 14px;
    }

    .plus img {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 450px) {
    main {
        margin-top: 50px;
    }

    h1 {
        font-size: 18px;
        line-height: 24px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
    }

    .container {
        padding: 0 16px;
    }

    .title-bordered {
        padding-bottom: 16px;
        border-width: 1px;
    }

    .social-icons-square+.social-icons-square {
        margin-left: 24px;
    }

    .where-buy-btn .text{
        padding: 0 14px;
    }

    .social-media-square::after {
        font-size: 10px;
    }

    .product-container-sm-wrapper::after {
        height: 133px;
    }

    .product-sm-img {
        max-width: 227px;
        margin: 0 auto;
    }

    .product-sm-btn {
        margin-top: 32px;
    }
}