.decore-top {
    position: absolute;
    top: 0;
    left: 7%;
    width: 100%;
    height: 430px;
    background-color: var(--bg-color);
    z-index: -1;
}

.nav-bar {
    transition: all 0.3s ease;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px;
    position: relative;
    z-index: 6;
}

.nav-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 17px 0 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    z-index: 20;
}

.nav-bar.fixed .nav-bar-wrapper {
    max-width: 1480px;
    padding: 0 80px;
    margin: 0 auto;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    max-width: 720px;
    margin-right: 20px;
}

.nav-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    position: relative;
}

.nav-item-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #C0C9E8;
}

.nav-item-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    height: 2px;
    width: 12px;
    background-color: #C0C9E8;
}

/* Burger ==================================*/
.burger-container {
    display: none;
}

.nav-burger {
    width: 28px;
    height: 21px;
    position: relative;
    cursor: pointer;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
}

.burger-line.top {
    top: 0;
}

.burger-line.middle {
    top: 50%;
    transform: translateY(-50%);
}

.burger-line.bottom {
    bottom: 0;
}

.nav-burger.active .burger-line.top {
    transform: rotate(45deg);
    top: 9px;
}

.nav-burger.active .burger-line.middle {
    transform: scale(0);
}

.nav-burger.active .burger-line.bottom {
    transform: rotate(-45deg);
    bottom: 9px;
}

.nav-item {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    position: relative;
}

.nav-item:not(.lang).active::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--red);
    cursor: initial;
}

.lang {
    display: inline-flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
}

.lang img {
    transition: transform 0.3s ease;
}

.lang.active img:last-child {
    transform: rotate(180deg);
}

.lang span {
    margin: 0 5px;
}

.nav-right a img {
    vertical-align: middle;
}


/* Mobile menu =============================*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    padding: 70px 19px 19px;
    transition: all 0.3s ease;
    opacity: 0;
    transform: scale(0);
    background-color: #fff;
    overflow-y: scroll;
}

.mobile-menu.active {
    opacity: 1;
    transform: scale(1);
}

.mobile-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.mobile-menu-item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}

.mobile-menu-item.active {
    color: var(--red);
}

.mobile-menu-item:hover {
    color: var(--red);
}

.mobile-menu .footer-content {
    padding: 0 12px 20px;
}

.mobile-menu .footer-content .adress {
    margin-top: 19px;
}


/* Media Queries */
@media (max-width: 1550px) {
    .nav-bar.fixed .nav-bar-wrapper {
        padding: 0 168px;
    }
}

@media (max-width: 1450px) {
    .decore-top {
        left: 80px;
    }
}

@media (max-width: 1350px) {
    .decore-top {
        height: 390px;
    }

    .nav-bar-wrapper {
        padding-top: 47px;
    }
}

@media (max-width: 1200px) {
    .nav-left {
        max-width: 550px;
    }
}

@media (max-width: 992px) {
    .nav-bar.fixed .nav-bar-wrapper {
        padding: 0 80px;
    }

    .decore-top {
        left: 0;
        height: 265px;
    }

    .nav-bar-wrapper {
        padding-top: 32px;
    }

    .nav-left {
        justify-content: initial;
    }

    .nav-item-wrapper::after,
    .nav-item-wrapper::before {
        display: none;
    }

    .nav-item-wrapper:not(:last-child) {
        display: none;
    }

    .nav-item:not(.lang) {
        display: none;
    }
    
    .burger-container {
        display: flex;
        align-items: center;
    }
    .nav-right {
        max-width: 156px;
    }
}

@media (max-width: 768px) {
    .nav-bar.fixed .nav-bar-wrapper {
        padding: 0 64px;
    }
}

@media (max-width: 450px) {
    .nav-bar.fixed {
        padding: 11px 0 12px;
    }

    .nav-bar.fixed .nav-bar-wrapper {
        padding: 0 16px;
    }


    .decore-top {
        height: 155px;
    }

    .nav-bar-wrapper {
        padding-top: 12px;
    }

    .nav-right {
        max-width: 120px;
    }

    .nav-bar.fixed .nav-right {
        max-width: 115px;
    }

    .nav-burger {
        width: 24px;
        height: 16px;
    }

    .burger-line {
        height: 2px;
    }

    .nav-burger.active .burger-line.top {
        bottom: 5px;
    }

    .nav-burger.active .burger-line.bottom {
        bottom: 5px;
    }
}