<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="../css/products/product.css">
</head>
<body>
    <!-- Header start -->
    <div class="decore-top"></div>

    <header>
        <div class="container">
            <nav>
                <div class="nav-bar padding">
                    <div class="nav-bar-wrapper">
                        <div class="nav-left">
                            <div class="burger-container">
                                <div class="nav-burger">
                                    <div class="burger-line top"></div>
                                    <div class="burger-line middle"></div>
                                    <div class="burger-line bottom"></div>
                                </div>
                            </div>
                            <div class="nav-item-wrapper">
                                <a href="about-us.html" class="nav-item active">About us</a>
                                <a href="#" class="nav-item">Philosophy</a>
                            </div>
                            <div class="nav-item-wrapper">
                                <a href="#" class="nav-item">Products</a>
                                <a href="#" class="nav-item">Where to buy</a>
                            </div>
                            <div class="nav-item-wrapper">
                                <a href="#" class="nav-item">contact us</a>
                                <a href="#" onclick="return false" class="nav-item lang">
                                    <img src="../src/img/world.svg" alt="world">
                                    <span>EN</span>  
                                    <img src="../src/img/arrow-down.svg" alt="arrow-down">
                                </a>
                            </div>
                        </div>
                        <div class="nav-right">
                            <a href="../index.html">
                                <img src="../src/img/logo.svg" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu">
                    <div class="mobile-item-wrapper">
                        <a href="about-us.html" class="mobile-menu-item active">About us</a>
                        <a href="#" class="mobile-menu-item">Philosophy</a>
                        <a href="#" class="mobile-menu-item">Products</a>
                        <a href="#" class="mobile-menu-item">Where to buy</a>
                        <a href="#" class="mobile-menu-item">contact us</a>
                    </div>
                    <div class="footer-wrapper">
                        <div class="footer-content bordered">
                            <div class="adress">
                                <span>Y- Parc, Rue Galilée 7,</span>
                                <span>1400 Yverdon-les-Bains, Switzerland</span>
                            </div>
                            <div class="footer-info">
                                <div class="phone">Phone: <a href="tel: +41 22 548 17 84"> +41 22 548 17 84</a></div>
                                <div class="email">Email: <a href="mailto:info@labnaturel.ch"> info@labnaturel.ch</a></div>
                            </div>
                            <div class="social-media">
                                <a href="#"><img src="../src/img/social_icons/facebook.svg" alt="facebook"></a> 
                                <a href="#"><img src="../src/img/social_icons/vk.svg" alt="vk"></a> 
                                <a href="#"><img src="../src/img/social_icons/instagram.svg" alt="instagram"></a> 
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Header ends -->

    <main>
        <div class="container">
            
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-logo bordered">
                    <a href="../index.html">
                        <img src="../src/img/logo.svg" alt="logo">
                    </a>
                </div>
                <div class="footer-content bordered">
                    <div class="copyrght">
                        <span>Copyright © AQUAELLE MEDICAL 2020</span>
                        <span>All Rights reserved</span>
                    </div>
                    <div class="adress">
                        <span>Y- Parc, Rue Galilée 7,</span>
                        <span>1400 Yverdon-les-Bains, Switzerland</span>
                    </div>
                    <div class="footer-info">
                        <div class="phone">Phone: <a href="tel: +41 22 548 17 84"> +41 22 548 17 84</a></div>
                        <div class="email">Email: <a href="mailto:info@labnaturel.ch"> info@labnaturel.ch</a></div>
                    </div>
                    <div class="social-media">
                        <a href="#"><img src="../src/img/social_icons/facebook.svg" alt="facebook"></a> 
                        <a href="#"><img src="../src/img/social_icons/vk.svg" alt="vk"></a> 
                        <a href="#"><img src="../src/img/social_icons/instagram.svg" alt="instagram"></a> 
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer ends -->

     <!-- Slick and jquery -->
     <script src="../js/jquery.js"></script>
     <script src="../js/slick.min.js"></script>
     <!-- Custom Js -->
     <script src="../js/main.js"></script>
     <script src="../js/sliders.js"></script>
</body>
</html>