@import "../fonts.css";
@import "../reset.css";
@import "../variables.css";
@import "../global.css";
@import "../header.css";
@import "../footer.css";

main {
    margin-top: 110px;
}

.product-container-big {
    margin: 0 auto;
    max-width: 745px;
}
.product-big-title {
    margin-top: 40px;
}

.product-info-wrapper .container {
    position: relative;
}

.product-info-wrapper {
    padding-top: 70px;
    margin-top: 65px;
}

.product-info-wrapper.after-element::after {
    top: 0;
    left: 0;
    width: 1744px;
    height: 82.5%;
}

.product-info-wrapper .social-media-square {
    top: 0;
}

.wipes-size {
    position: absolute;
    right: 80px;
    top: 0;
    width: 168px;
    height: 184px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.wipes-size > span {
    font-weight: 600;
    font-size: 35px;
    line-height: 28px;
    text-align: center;
    margin-top: 16px;
}

.wipes-size > span span {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 10px;
    display: block;
}

.product-info-block {
    margin: 0 auto;
    max-width: 745px;
    display: flex;
}

.product-info {
    position: relative;
    max-width: 745px;
    margin: 0 auto;
    background-color: #fff;
    padding: 72px 98px 80px 96px;
    background-image: url("../../src/img/product/important.svg");
    background-repeat: no-repeat;
    background-size: 12px 24px;
    background-position: 92% 40px;
}

.product-info-part+.product-info-part {
    margin-top: 64px;
}

.product-info-decore {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 2px solid #F2F2F2;
    position: absolute;
    left: 0;
    top: 53.2%;
    transform: translateX(-50%);
}

.product-info-decore img {
    width: 13px;
    height: 26px;
}

.product-info-part .description {
    margin-top: 24px;
}

.product-info-part .description.italic {
    margin-top: 0;
    font-style: italic;
    font-weight: normal;
}

.product-info-part .description.italic:nth-child(2) {
    background-image: url("../../src/img/product/line-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    background-position: bottom left;
    padding-bottom: 16px;
}

.product-info-part .description.italic:last-child {
    margin-top: 16px;
    margin-bottom: 64px;
}

/* Media Queries */
@media (min-width: 1950px) {
    .product-info-wrapper.after-element::after {
        width: 90%;
    }  
}
@media (max-width: 1350px) {
    .product-info-wrapper.after-element::after {
        height: 83%;
    }

    .product-big-img,
    .product-big-title {
        max-width: 680px;
    }

    .product-big-title {
        margin-top: 33px;
    }

    .wipes-size {
        width: 152px;
        height: 152px;
        padding: 24px 0;
    }

    .wipes-size span:last-child {
        margin-top: 0;
    }

    .product-info-decore {
        top: 54%;
    }

    .product-info-block {
        max-width: 900px;
        justify-content: flex-start;
    }

    .product-container-big,
    .product-info {
        margin-left: 0;
        margin-right: 0;
    }

    .product-info-part .description.italic:last-child {
        margin-bottom: 44px;
    }

    .product-info-part .description.italic:nth-child(2) {
        padding-bottom: 41px;
    }
    
    .product-info-part .description.italic:last-child {
        margin-top: 26px;
    }
}

@media (max-width: 1200px) {
    .product-info-wrapper.after-element::after{
        height: 84.5%;
    }

    .wipes-size {
        position: static;
        width: 100%;
        max-width: 745px;
        margin: 0 auto;
        margin-bottom: 24px;
        flex-direction: row;
        justify-content: center;
        height: auto;
        padding: 28px 0;
    }

    .wipes-size span {
        text-align: left;
        font-size: 20px;
    }

    .wipes-size > span {
        margin-left: 24px;
        font-size: 26px;
    }

    .product-container-big,
    .product-info {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    .product-info-wrapper.after-element::after{
        height: 83.6%;
    }

    main {
        margin-top: 80px;
    }

    .product-info-wrapper {
        padding-top: 24px;
        margin-top: 40px;
    }

    .wipes-size {
        max-width: initial;
    }

    .product-info {
        max-width: 100%;
        margin-bottom: 88px;
        padding: 47px 48px 56px;
    }

    .product-info-decore {
        position: static;
        left: initial;
        top: initial;
        transform: translateX(0);
        margin-bottom: 12px;
    }

    .product-info-part+.product-info-part {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .product-big-img {
        max-width: 456px;
        margin: 0 auto;
    }

    .product-big-title {
        max-width: 552px;
        margin-top: 22px;
        text-align: center;
    }

    .product-info {
        background-position-y: 52px;
    }

    .product-info-wrapper.after-element::after {
        height: 86.7%;
    }

    .product-info-part .description {
        margin-top: 19px;
    }

    .product-info-part .description.italic:nth-child(2) {
        padding-bottom: 25px;
    }
    
    .product-info-part .description.italic:last-child {
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .product-info {
        background-size: 10px 20px;
        background-position: 95% 45px;
    }
}

@media (max-width: 450px) {
    .product-info-wrapper {
        margin-top: 32px;
        padding-top: 16px;
    }

    .product-info-wrapper.after-element::after {
        height: 77.5%;
    }

    .product-info-wrapper .container-wrapper:nth-child(2) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
    }

    main {
        margin-top: 57px;
    }

    .product-big-img {
        max-width: 232px;
    }

    .product-big-title {
        margin-top: 15px;
    }

    .wipes-size {
        padding: 16px 0;
        margin-bottom: 16px;
    }

    .wipes-size > span {
        font-size: 25px;
    }

    .wipes-size > span span {
        font-size: 14px;
        line-height: 10px;
    }

    .product-info-block {
        max-width: initial;
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .product-info {
        padding: 26px 16px 32px;
        margin-bottom: 64px;
        background-size: 7.5px 15px;
        background-position: 95% 29px;
    }

    .product-info-part+.product-info-part {
        margin-top: 26px;
    }

    .product-info-decore {
        margin-top: 48px;
    }

    .product-info-part .description {
        margin-top: 16px;
    }

    .product-info-part .description.italic:nth-child(2) {
        padding-bottom: 14px;
    }

    .product-info-part .description.italic:last-child  {
        margin-top: 14px;
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .product-info-wrapper.after-element::after {
        height: 78.5%;
    }
}

@media (max-width: 375px) {
    .product-info-wrapper.after-element::after {
        height: 79.3%;
    }
}

@media (max-width: 321px) {
    .product-info-wrapper.after-element::after {
        height: 78.5%;
    }
}